body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
  }
  
  .box {
	width: 100px;
	height: 100px;
	background: #ff1c68;
	transform-origin: 50% 50%;
	margin: 10px;

  }
  
  .home-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .grid-container {
	display: grid;
	grid-template-columns: auto;
	justify-content: space-evenly;
  }
  .grid-row {
	display: flex;
  }

