/* Boxes  */  
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
  }
  
  .box {
	width: 250px;
	height: 250px;
	background: #ff1c68;
	transform-origin: 50% 50%;
	margin: 30px;
	border-radius: 5%

  }
  
  .home-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .grid-container {
	width: 30%;
	display: grid;
	grid-template-columns: auto;
	justify-content: space-evenly;
  }
  .grid-row {
	display: flex;
  }



/* Background  */  
  .grid-background {
	display: flex;
	grid-template-columns: auto;
	width: 100%;
	height: 100%;
	background-color: "green";
  }


/* Content, about me */

.content-about {
	width: 70%;
}



