/* Boxes  */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.box-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-content: center;

}

.box {
  width: 250px;
  height: 250px;
  transform-origin: 50% 50%;
  border-radius: 5%;
}

/* Background-boxes  */
.grid-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* Background body */
.Home {
	min-height: 560px;
	display: flex;
	align-items: center;
	transition: background-color 300ms ease-in-out;
	margin: 0;
	height: 100%;
  }

 
body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	background: #3322ff;
 }

/* Content, about me */

.content-about {
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.social {
	width: 200px;
	display: flex;
	margin-left: 10px; 
	margin-bottom: 0;
	flex-direction: row;
	justify-content: space-between;
}


/* Text */
